
<main class="main">
  <h2 class="title">ACTIVITY</h2>
  <div class="section">
    <h3 class="subtitle">常時活動</h3>
    <div class="contents">
      <ul>
        <li>
          <div class="head">・ジム</div>
          <p>
          学内のジムで、空きコマ等を利用してトレーニングをします。 <br>
          1人では危険なベンチプレス等のトレーニングにも挑戦できます。
          </p>
        </li>
        <li>
          <div class="head">・かもジョグ</div>
          <p>
            鴨川をジョギングします。 <br>
            季節や時間によって移り変わる鴨川の景色を楽しみながら、健康な生活習慣づくりができます。
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="section">
    <h3 class="subtitle">特別活動</h3>
    <div class="contents">
      <div class="head">・プール（8月)</div>
      <p>
        学内のプールが開放される12時～2時に、水泳を楽しみます。 <br>
        長水路でトレーニングできる貴重な機会に、自分を追い込みましょう！
      </p>
    </div>
  </div>
  <div class="section">
    <h3 class="subtitle">・その他イベント</h3>
    <div class="contents">
      <div class="head">・スポッチャ会</div>
      <p>
        会員の親睦を深めるという意味でも、たくさんのスポーツを気軽に楽しめるスポッチャはうってつけ。 <br>
        会員の意外な一面を見ることもでき、一日中笑いっぱなしの楽しいイベントになりました。
      </p>
      <div class="head">・バドミントン会（企画中）</div>
      <p>
        体育館を借りて、みんなでバドミントンを楽しみます。 <br>
        他にも体育館企画は計画中です！
      </p>
    </div>
  </div>
</main>
