<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="author" content="tsux.me" />
    <meta name="description" content="京都大学フィットネスクラブGORILLAの運営ブログのページです。" />
    <meta name="keywords" content="京大,筋トレ,ゴリラ,サークル,ブログ,フィットネス,クラブ,gorilla,blog" />
    <meta name="robots" content="index,follow" />
    <base href="https://www.gorilla-kufitness.info/">
    <link rel="canonical" href="https://www.gorilla-kufitness.info/blog/" />
    <link rel="stylesheet" href="css/tsux.css" />
    <link rel="stylesheet" href="css/style-mobile.css" media="screen and (max-width: 599px)" />
    <link rel="stylesheet" href="css/style.css" media="screen and (min-width: 600px)" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript"></script>
    <title>BLOG | 京都大学フィットネスクラブGORILLA</title>
  </head>
  <body class="body">
    <header class="header">
      <h1 class="logo"><a href="">GORILLA</a></h1>
      <nav class="nav">
        <ul class="list">
          <li class="item"><a href="">HOME</a></li>
          <li class="item"><a href="activity/">ACTIVITY</a></li>
          <li class="item"><a href="schedule/">SCHEDULE</a></li>
          <li class="item selected"><a href="blog/">BLOG</a></li>
          <li class="item"><a href="contact/">CONTACT</a></li>
        </ul>
      </nav>
      <img class="menu-icon" src="img/menu.png" alt="menu">
    </header>
    <div class="wrapper clearfix">

      <main class="main">
        <h2 class="title">BLOG</h2>
        <div class="section">
          <h3 class="subtitle">運営ブログ</h3>
          <div class="contents">
            <p>只今、準備中です。</p>
          </div>
        </div>
      </main>

      <aside class="aside">
        <div class="tweet">
        <a class="twitter-timeline" width="100%" height="100%"
        href="https://twitter.com/KU_fitnessclub?ref_src=twsrc%5Etfw">Tweets by KU_fitnessclub</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="follow-button">
        <a href="https://twitter.com/KU_fitnessclub?ref_src=twsrc%5Etfw" class="twitter-follow-button"  data-size="large" data-lang="ja" data-show-count="false">Follow @KU_fitnessclub</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      </aside>
    </div>
    <footer class="footer">
      <div class="foot-wrap">
        <div class="foot-item sns">
          <div class="head">SHARE</div>
          <ul class="list">
            <li><div class="item facebook"><a href="" target="_blank" title="Facebookでシェア"><img src="img/facebook.png" alt="facebook"><span>Facebookでつぶやく</span></a></div></li>
            <li><div class="item twitter"><a href="" target="_blank" title="Twitterでシェア"><img src="img/twitter.png" alt="twitter"><span>Tweetする</span></a></div></li>
            <li><div class="item line"><a href="" target="_blank" title="LINEに送る"><img src="img/line.png" alt="LINE"><span>LINEに送る</span></a></div></li>
          </ul>
        </div>
        <div class="foot-item others">
          <div class="head">OTHERS</div>
          <ul class="list">
            <li class="item"><a href="">TOP</a></li>
            <li class="item"><a href="block/sitemap.html">SITE MAP</a></li>
            <li class="item"><a href="mailto:ku.fitnessteam@gmail.com">E-MAIL</a></li>
          </ul>
        </div>
      </div>
      <p class="copyright">©️ 2018 京都大学フィットネスクラブ GORILLA</p>
    </footer>
    <script src="js/script.js"></script>
  </body>
</html>
