

<main class="main">
  <h2 class="title">HOME</h2>
  <div class="section">
    <h3 class="subtitle">GORILLAとは？</h3>
    <div class="contents">
      <p>
        運動したいけど時間がない、一緒にやる仲間がいない、続かない…<br>
        GORILLAはそんな大学生活を送る京大生に、同じような境遇のトレーニング仲間がいる「コミュニティ」と「モチベーション」を提供する新しいフィットネスサークルです。 <br>
        SNSを利用し、自分のスケジュールやスタイルに合わせたトレーニングができる圧倒的な自由度がこのサークルの強み。 <br>
        新しい活動を提案しても、活力に満ち溢れた会員がきっとあなたの活動を一緒に盛り上げてくれますよ！
      </p>
    </div>
  </div>
  <div class="section">
    <h3 class="subtitle">沿革</h3>
    <div class="contents">
      <table class="table">
        <tr>
          <td>2018年4月</td>
          <td>筋トレ同好会（仮）設立（初期メンバー　11人）</td>
        </tr>
        <tr>
          <td>2018年5月</td>
          <td>
            <ul class="list">
              <li class="item">GORILLA設立</li>
              <li class="item">ロゴ決定</li>
              <li class="item">京大生全体へ募集開始</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>2018年9月現在</td>
          <td>会員26名</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="section">
    <h3 class="subtitle">GORILLA会長より</h3>
    <div class="contents">
      <p>
        GORILLA会長の永田　昂輝（ながた　こうき）です。 <br>
        当サークルは「自由なフィットネスライフ」を実現するために、より多くの会員を伴った大きなコミュニティとなるべきです。 <br>
        痩せ型でも肥満に悩まされている方でも大歓迎！自分の目標に合わせた自分だけのフィットネスライフを作り上げるチャンスを、 <br>
        私たちと一緒に掴み取りましょう！
      </p>
    </div>
  </div>
</main>
