<main class="main">
  <h2 class="title">SCHEDULE</h2>
  <div class="section">
    <h3 class="subtitle">今後の予定</h3>
    <div class="contents">
      <table class="table">
        <tr>
          <th>日程</th>
          <th>内容</th>
        </tr>
        <tr>
          <td>2018年10月1日</td>
          <td>後期活動スタート</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="section">
    <h3 class="subtitle">「TimeTree」について</h3>
    <div class="contents">
      スケジュール管理はクラブ内でアプリ「TimeTree」を利用しています。
      <a href="http://timetr.ee/dl/reco" class="banner">
        <img src="img/timetree.png">
        <div>
          家族や恋人、グループでの予定共有が驚くほどスムーズになる無料アプリ<br>
          「共有カレンダー TimeTree」<br><br>
          【TimeTreeの特徴】<br>
          ・カレンダー共有がとっても簡単<br>
          ・予定ごとにチャットができる<br>
          ・プライベート予定も管理できる
        </div>
      </a>
    </div>
  </div>
</main>
