

<main class="main" style="float:none; margin: auto;">
  <h2 class="title">サイトマップ</h2>
  <div class="section">
    <div class="contents">
      <ul class="list">
        <li class="item"><a href="">HOME</a>トップページです。</li>
        <li class="item"><a href="activity/">ACTIVITY</a>活動内容の紹介です。</li>
        <li class="item"><a href="schedule/">SCHEDULE</a>スケジュールについてです。</li>
        <li class="item"><a href="contact/">CONTACT</a>お問い合わせはこちら。</li>
        <li class="item"><a href="blog/">BLOG</a>運営のブログを投稿しています。</li>
      </ul>
    </div>
  </div>
</main>
